.header {
    display: flex;
    background-color: rgb(224, 224, 224);
    padding: 10px 25px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
}

.nav {
    display: flex;
    gap: 15px;
}

.searchContainer{
   display: flex;
   container-type: size;
   width: 250px;
}

.searchBtn {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    width: 25px;
    transform: translateX(90cqw); 
    transition: transform 0.6s ease-out;
}

.searchInput {
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.6s ease-out;
}

.shifted {
    transform: translateX(0cqw);
}

.expanded {
    transform: scaleX(1);
}
